.App {
  text-align: center;
font-family: 'Staatliches', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  background-color: #D7FFF1;

}
body {
  position: relative;
  margin-bottom: 100px;
}

.navbar{
  background-color: #2191FB;
  margin-top: 0px;
  color: #C0B9DD;
  font-size: 300%;
}

.cloudAnime{
  width:12%;
  height: 10%;
  margin-top: 0px;
  padding-left: 33px;
}

.navcloud{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #2191FB;

}

.formInput1{
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
}

.formInput2{
  display: flex;
  justify-content: center;
  padding-left: 12px;

}

.weatherButton{
  border-radius: 12px;
  background-color:#97F9F9;
}

.moogle{
  width: 7%;
  height: 10%;
}

ul{
list-style-type: none;
display: flex;
align-items: center;

}

li{
      padding-right: 30px;
}

.theFooter{
  display:flex;
      justify-content: center;
      background-color: #2191FB;
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-bottom:0px;

}

.simpsons{
  width:30%;
  height:30%;
  border-width:100px, black;
}

.tableData{
  table-layout: auto;
 width: 450px;
 margin-left:auto;
   margin-right:auto;
}
